
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        
        <div class="d-flex team-vs">
          <span class="score">
            <span [ngStyle]="{color:color(match.score1 , match.score2)[0]}">{{match.score1}}</span> - <span [ngStyle]="{color:color(match.score2 , match.score1)[0]}">{{match.score2}}</span>
          </span>
          <div class="team-1 w-50">
            <div class="team-details w-100 text-center">
              <img src="assets/images/logo_1.png" alt="Image" class="img-fluid">
              <h3>{{match.team1}} <span  [ngClass]="
                {  win :  color(match.score1 , match.score2)[1]==1 ,
                   loss : color(match.score1 , match.score2)[1]==0 ,
                   draw : color(match.score1 , match.score2)[1]==2
                }">{{color(match.score1 , match.score2)[2]}}</span></h3>
              <ul class="list-unstyled">
                <li>Anja Landry (7)</li>
                <li>Eadie Salinas (12)</li>
                <li>Ashton Allen (10)</li>
                <li>Baxter Metcalfe (5)</li>
              </ul>
            </div>
          </div>
          <div class="team-2 w-50">
            <div class="team-details w-100 text-center">
              <img src="assets/images/logo_2.png" alt="Image" class="img-fluid">
              <h3>{{match.team2}} <span  [ngClass]="
                {  win :  color(match.score2 , match.score1)[1]==1 ,
                   loss : color(match.score2 , match.score1)[1]==0 ,
                   draw : color(match.score2 , match.score1)[1]==2
                }">{{color(match.score2, match.score1)[2]}}</span></h3>
              <ul class="list-unstyled">
                <li>Macauly Green (3)</li>
                <li>Arham Stark (8)</li>
                <li>Stephan Murillo (9)</li>
                <li>Ned Ritter (5)</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>