
    <div class="hero overlay" style="background-image: url('assets/images/bg_3.jpg');">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-9 mx-auto text-center">
              <h1 class="text-white">Add player</h1>
            </div>
          </div>
        </div>
      </div>
  
      
      <div class="site-section">
        <div class="container">
          <div class="row">
            <div class="col-lg-7" style="margin-left: 20%;">
              <form #playerForm='ngForm' (ngSubmit)='addPlayer()'>
                <div class="form-group">
                  <input type="text" [(ngModel)]="player.name" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Name">
                </div>
                <div class="form-group">
                  <input type="text" [(ngModel)]="player.post" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Post">
                </div>
                <div class="form-group">
                  <input type="text" [(ngModel)]="player.N" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="N°">
                </div>
                <div class="form-group">
                    <input type="text" [(ngModel)]="player.Age" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Age">
                </div>
                <div class="form-group">
                    <input type="text" [(ngModel)]="player.Description" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Description">
                </div>

                <div class="form-group">
                  <input type="submit" class="btn btn-primary py-3 px-5" value="Create">
                </div>
              </form>  
            </div>
            
          </div>
        </div>
      </div>
  